body {
    width: 35%;
    margin: 0 auto;
    padding: 5% 0 0 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

#title {
    margin-left: -6%;
}
#title h1 {
    display: inline;
}
#title .validation-icon {
    font-size: 20px;
}

.item {
    margin: 2% 0;
}

.flex-box {
    display: flex;
    align-items: center;
}

.flexible {
    flex: 1;
}

.fixed {
    width: 20%;
}

.flex-box label {
    font-weight: bold;
}

.glyphicon-ok {
    color: rgb(0, 204, 0);
}
.glyphicon-remove {
    color: rgb(204, 0, 0);
}

.validation-icon {
    margin: 0% 1%;
    position: relative;
    display: inline;
}

.message-tooltip {
    position: absolute;
    width: auto;
    top: -26px;
    left: 20px;
    font-size: 11px;
    color: white;
    background-color: black;
    border-radius: 4px;
    text-align: center;
    padding: 3px 7px;
    white-space: nowrap;
}

.message-tooltip-triangle {
    position: absolute;
    top: -14px;
    left: 12px;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    transform: skew(0deg, -15deg);
}